html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(60deg, #085078, #182848);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  font-family: saira;
  font-weight: 300;
  overflow-x: hidden;
  color: #fcfffc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

iframe {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* video-section styles necessary for pushing down the */
/* video controls just beneath the video container... due to it's */
/* set height of zero to accomodate aspect ratio */
.video-section {
  display: flex;
  justify-content: center;
  height: 45.15vw;
  min-height: 16.91rem;
  max-height: 28.15rem;
  width: 100vw;
}

.video-container {
  position: relative;
  z-index: 0;
  width: 80%;
  /* Will have to adjust min-width w/ media queries to accomodate mobile */
  /* This is for desktop */
  min-width: 25rem;
  max-width: 50rem;
  height: 0;
  padding-bottom: 2rem;
}

.video-holder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

#video-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Start of the checkbox slider styles */

/* switch is the label */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 20px;
  min-height: 20px;
  font-size: 0;
  margin-left: 0.9rem;
}

.switch input {
  display: none;
}

.switch:focus {
  outline: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfffc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 8rem;
}

@media (min-width: 480px) {
  .switch {
    margin-left: 1.3rem;
    margin-top: -1.6rem;
  }

  .slider {
    /* Will use media query to rotate it back to normal for mobile */
    transform: rotateZ(90deg);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(110px);
    -ms-transform: translateX(110px);
    transform: translateX(110px);
  }
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: #085078;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #52aa5e;
}

input:checked + .slider:before {
  background: #fcfffc;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(77px);
  -ms-transform: translateX(77px);
  transform: translateX(77px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

/* End of the checkbox slider styles */

/* Styles for drop down list box */

.hidden {
  visibility: hidden;
}

.focused {
  background: #72e1d1;
}
